*{
    font-family: 'PX GROTESK';

    letter-spacing: -1.8%;
}

body{
    display: flex;
    justify-content: center;
    @apply bg-B4;
}

h1{
    font-size: 33px;
    line-height: 160%;
    font-weight: bold;
}

h2{
    color: white;
    font-size: 28px;
    line-height: 130%;
    font-weight: bold;
}

h3{
    color: white;
    font-size: 23px;
    line-height: 130%;
    font-weight: bold;
}


p{
    color: white;
    font-size: 16px;
    line-height: 150%;
    &.grande{
        font-size: 19px;
        &.bold{
            font-weight: bold;
        }
    }
    &.pequeño{
        font-size: 13px;
        &.bold{
            font-weight: bold;
        }
    }
    &.extrapequeño{
        font-size: 11px;
    }
}
